.contact-body-container {
  display: grid;
  grid-template-rows: 130px auto 200px;
}

.contact-main-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.dinner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.contact-hero-section {
  background-color: #495e57;
}

.selected-res-section {
  margin-top: 4rem;
}

@media only screen and (min-width: 768px) {
  .dinner-img {
    height: 60%;
  }

  .contact-hero-section {
    background-color: #495e57;
    margin-top: -10rem;
    margin-bottom: 2rem;
  }
  .selected-res-section {
    margin-top: -4rem;
  }
}

@media only screen and (min-width: 992px) {
  .dinner-img {
    height: 60%;
  }

  .contact-hero-section {
    background-color: #495e57;
    margin-top: -11rem;
  }
  .selected-res-section {
    margin-top: -16rem;
  }
}

@media only screen and (min-width: 1200px) {
  .dinner-img {
    height: 60%;
  }

  .contact-hero-section {
    background-color: #495e57;
    margin-top: -12.5rem;
    margin-bottom: 10rem;
  }
  .selected-res-section {
    margin-top: -6rem;
  }
}

@media only screen and (min-width: 1400px) {
  .contact-hero-section {
    background-color: #495e57;
    margin-top: -13rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (min-width: 1800px) {
  .dinner-img {
    height: 60%;
  }

  .contact-hero-section {
    background-color: #495e57;
    margin-top: -16.25rem;
    margin-bottom: 6rem;
  }
  .selected-res-section {
    margin-top: -2rem;
  }
}
