.home-body-container {
  display: grid;
  grid-template-rows: 130px auto 200px;
  max-width: 100%;
}


header {
  background-color: #ffffff;
  width: 100%;
}

.home-main-container {
  display: grid;
  grid-template-rows: 475px auto;
  /* grid-template-rows: 475px 850px 500px 750px; */

}

.hero-section {
  background-color: #495e57;
}
.specials-section {
  background-color: #ffffff;
}

.testimonials-section {
  background-color: #495e57;
}

.about-section {
  background-color: #ffffff;
}

footer {
  background-color: #495e57;
  width: 100%;
  max-width: 100%
}
