.res-body-container {
  display: grid;
  grid-template-rows: 130px 2575px 200px;
}


.res-main-container {
  display: grid;
  grid-template-rows: 470px 200px 2075px;
}

.restaurant-img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.res-hero-section {
background-color: #495e57;
}


.reservations-section {
  background-color: #ffffff;
}
