/* Initial layout/sizes based on 480px wide screen. */

.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: -4rem;
  margin-left: 1.25rem;
  margin-right: 2rem;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.about-title {
  font-family: "Markazi Text", serif;
  font-size: 2.75rem;
  color: #495e57;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: -0.5rem;
}

.about-subtitle {
  font-family: "Markazi Text", serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1rem;
}

.about-paragraph {
  font-family: "Karla", normal;
  font-size: 1.15rem;
  font-weight: 600;
  color: #333333;
  line-height: 1.5rem;
  max-width: 14rem;
}
.about-images-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: right;
  margin-top: 4rem;
}

#mario-and-adrian-a {
  z-index: 1;
}

#mario-and-adrian-b {
  z-index: 2;
  margin-left: -60px;
  margin-bottom: 260px;
}

#mario-and-adrian-a,
#mario-and-adrian-b {
  width: 9rem;
  height: auto;
  border-radius: 8px;
}

@media only screen and (min-width: 600px) {
  .about-container {
    margin-left: 2.5rem;
    margin-right: 10rem;
  }

  .about-images-container {
    margin-top: 1rem;
  }
  #mario-and-adrian-b {
    margin-left: -50px;
    margin-bottom: 250px;
  }
  #mario-and-adrian-a,
  #mario-and-adrian-b {
    width: 11rem;
    height: auto;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 780px) {
  .about-container {
    margin-left: 5rem;
    margin-right: 7rem;
  }
  .about-subtitle {
    margin-bottom: 1.5rem;
  }
  .about-paragraph {
    line-height: 1.9rem;
    max-width: 15rem;
  }
  .about-images-container {
    margin-top: 1rem;
  }
  #mario-and-adrian-b {
    margin-left: -50px;
    margin-bottom: 250px;
  }
  #mario-and-adrian-a,
  #mario-and-adrian-b {
    width: 13rem;
    height: auto;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .about-container {
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right: 8rem;
  }
  .about-paragraph {
    line-height: 2.25rem;
    max-width: 18rem;
  }
  .about-images-container {
    margin-top: 0rem;
  }
  #mario-and-adrian-b {
    margin-left: -50px;
    margin-bottom: 250px;
  }
  #mario-and-adrian-a,
  #mario-and-adrian-b {
    width: 16rem;
    height: auto;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-container {
    margin-top: 4rem;
    margin-left: 9rem;
    margin-right: 7rem;
  }
  .about-subtitle {
    margin-bottom: 1.5rem;
  }
  .about-paragraph {
    line-height: 2.25rem;
    max-width: 18rem;
  }
  .about-images-container {
    margin-top: 0rem;
  }
  #mario-and-adrian-b {
    margin-left: -50px;
    margin-bottom: 250px;
  }
  #mario-and-adrian-a,
  #mario-and-adrian-b {
    width: 18rem;
    height: auto;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1800px) {
  .about-container {
    margin-top: 4rem;
    margin-left: 22rem;
    margin-right: 14rem;
  }
  .about-subtitle {
    margin-bottom: 1.5rem;
  }
  .about-paragraph {
    font-size: 1.25rem;
    line-height: 2.75rem;
    max-width: 18rem;
  }
  .about-images-container {
    margin-top: .5rem;
  }
  #mario-and-adrian-b {
    margin-left: -50px;
    margin-bottom: 250px;
  }
  #mario-and-adrian-a,
  #mario-and-adrian-b {
    width: 20rem;
    height: auto;
    border-radius: 8px;
  }
}

