/* Initial layout/sizes based on 480px wide screen. */

.reservations-container {
  font-family: "Karla", normal;
  margin-left: 2.5rem;
}

.reservation-form-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(6, auto) minmax(0, 1fr); /* 5 rows with 2 columns and 1 row with 1 column */
  gap: 3rem;
  margin-bottom: 2.5rem;
  align-items: center;
  align-content: center;
}

.res-form-title {
  font-size: 1.35rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 4rem;
}
.reservations-container label {
  font-size: 1.1rem;
  font-weight: 650;
  color: #495e57;
}

/**** CONTACT INFO ****/
.reservations-container #firstName,
.reservations-container #lastName,
.reservations-container #email,
.reservations-container #phone,
.reservations-container input[type="checkbox"] {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 65px;
  padding-left: 16px;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-color: #495e57;
  border-width: 3px;
  border-style: solid;
  font-family: "Karla", normal;
  font-size: 1.1rem;
  color: #495e57;
  font-weight: 600;
}
/* Placeholder Styles */
.reservations-container .reservation-form-container input::placeholder {
  font-family: "Karla", normal;
  font-size: 1.1rem;
  padding: 40%;
}

/* Placeholder styles on hover */
.reservations-container .reservation-form-container input.hovered::placeholder {
  color: #495e57;
  font-weight: 600;
}
.reservations-container .reservation-form-container input::placeholder:hover {
  color: #495e57;
}

/**** DATE ****/
#date {
  font-weight: 600;
  color: #495e57;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-color: #495e57;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Karla", normal;
  font-size: 1.1rem;
}

/* TIME & OCCASION DROP-DOWN MENUS */

select {
  font-weight: 600;
  color: #495e57;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-color: #495e57;
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Karla", normal;
  font-size: 1.1rem;
}

option {
  font-weight: 600;
  color: #495e57;
}
option:checked {
  background-color: #fbdabd;
}

option:hover:not(:checked) {
  background-color: #edefee;
}

option:checked:hover {
  background-color: #ee9972;
}

#time:not(:focus) option:checked + select {
  background-color: #495e57;
  color: #ffffff;
}

#occasion:not(:focus) option:checked + select {
  background-color: #495e57;
  color: #ffffff;
}

#time {
  padding-left: 18%;
}

#occasion {
  padding-left: 14%;
}

/**** GUESTS ****/

.guests-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#guests {
  max-width: 2rem;
  border: transparent;
  font-size: 1.85rem;
  font-weight: 600;
}

.counter-button {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 16px;
  background-color: #495e57;
  border: #495e57;
  font-size: 1.75rem;
  font-weight: bold;
  color: #ffffff;
}

.counter-button:hover {
  filter: brightness(175%);
}

.counter-button:active {
  background-color: #ee9972;
}

.minus-btn-span {
  margin-right: 2rem;
}

.plus-btn-span {
  margin-left: 1rem;
}
#minus-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**** SEATING ****/

.seating-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.75rem;
}

#indoor,
#outdoor,
#noPreference {
  margin-right: 0.5rem;
}

input[type="radio"] {
  width: 1.2em;
  height: 1.2em;
  border-color: #495e57 !important;
  border-width: 2px !important;
  background-color: #495e57 !important;
}

input[type="radio"]:checked::before {
  background-color: #495e57 !important;
}

/**** SPECIAL REQUESTS ****/

.special-requests-label {
  white-space: nowrap;
}

.special-requests #special-requests {
  margin-top: 0.5rem;
  border-radius: 16px;
  border-color: #495e57;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
  width: 450%;
  max-width: 540%;
  height: 10rem;
  padding: 16px;
  font-family: "Karla", normal;
  font-size: 1.25rem;
  color: #495e57;
  font-weight: 500;
}

/**** TEXT UPDATES ****/
.text-updates-container {
  display: grid;
  grid-template-columns: 1fr 20fr;

  align-items: center;
}

/**** RESERVE BUTTON ****/

.reserve-button-container {
  margin-top: 4rem;
}
.reserve-button-container .reserve-button {
  background-color: #f4ce14;
  border-color: #f4ce14;
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 8px 30px;
  margin-left: 14rem;
  color: #495e57;
  font-size: 1rem;
  font-weight: 700;
}
.reserve-button:hover {
  background-color: #495e57;
  border-color: #495e57;
  color: #ffffff;
}

.reserve-button:active {
  background-color: #ee9972;
  border-color: #ee9972;
  color: #ffffff;
}

/**** ERROR STYLING ****/

input.input-error,
select.input-error {
  border-color: #ff0000;
}

.error {
  color: #ff0000;
}

/********** @MEDIA QUERIES FOR VARIOUS SCREEN SIZES **********/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .reservations-container {
    margin-left: -1.5rem;
  }
  #date {
    min-width: 200px;
    max-width: 200px;
    padding-left: 20%;
  }

  select {
    min-width: 300px;
  }
  .save-btn {
    margin-left: 9rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .reservations-container {
    margin-left: 3.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS for 768px works for 992px */
}

/* Extra Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .reservations-container {
    margin-left: 7rem;
  }
}

/* Extra-Extra Large devices (large laptops and desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
  .reservations-container {
    margin-left: 2rem;
  }
  .reservation-form-container {
    gap: 5rem;
  }
}
