.confirm-modal-container {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  min-width: 400px;
  max-width: 400px;
  min-height: 580px;
  max-height: 580px;
  padding: 0;
}

.confirm-main-container {
  min-width: 400px;
  max-width: 400px;
  min-height: 580px;
  max-height: 580px;
  padding: 0;
}

.confirm-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.confirm-contact-requests-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  font-family: "Karla", normal;
  font-weight: 600;
  color:#495e57;
  
}

.confirm-and-contact-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  align-items: start;
  margin-left: 1.5rem;

}
.confirm-selected-container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-row-gap: 12px;
  font-size: 16px;
  align-items: center;
}

.lit-lem-contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-top: 0.45rem;
}

.confirm-home-icon {
  margin-left: 0.35rem;
  margin-top: 0.5rem;
}

.home-icon-div:hover {
  background-color: #311203;
  border-radius: 50px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.home-icon-div:active {
  background-color: #fff;
  border-radius: 50px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.confirm-title {
  font-family: "Marakazi Text", serif;
  font-size: 1.35rem;
  color: #495e57;
  font-weight: 600;
}

.confirm-subtitle {
  font-family: "Markazi Text", serif;
  font-size: 1.45rem;
  color: #f54f03;
}
.logo-background {
  background-color: #fff;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.confirm-lemon-logo {
  margin-top: 0.75rem;
  margin-left: 8rem;
}

.dine-with-you-text {
  font-family: "Marakazi Text", serif;
  font-size: 1.15rem;
  color: #495e57;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.confirm-modal-container
  .confirm-main-container
  .confirm-selected-container
  img {
  width: 30px;
}

.confirm-contact-requests-container .confirmed-text {
  font-family: "Karla", normal;
  font-weight: 600;
  color:#495e57;
}
.confirm-requests-label {
  margin-left: 1.5rem;
  margin-bottom: .5rem;
}
.confirm-requests-box {
  background-color: #F9AF8D;
  min-width: 350px;
  max-width: 350px;
  min-height: 80px;
  max-height: 80px;
  margin-left: 1.5rem;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
