/* Initial layout/sizes based on 480px wide screen. */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8%;
  background-color: #495e57;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  padding-top: 1rem;
}

.footer-logo {
  height: 80%;
  margin-left: 1rem;
}

.footer-logo-nav:hover {
  filter: brightness(115%);
  border-radius: 16px;
}

.footer-nav-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding-bottom: 2rem;
}

.footer-nav-container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5rem;
}
.footer-nav-container a {
  text-decoration: none;
  color: #edefee;
  font-family: "Karla";
  font-weight: 600;
}

.footer-nav-container a:hover {
  color: #f4ce14;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  font-family: "Karla";
  font-weight: 600;
  margin-left: 1.5rem;
}

.contact-and-social-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
  margin-right: 3rem;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  font-family: "Karla";
  margin-left: 1.5rem;
  padding-bottom: 0.25rem;
}

.contact-info-container #contactTitle {
  padding-bottom: 0.75rem;
  color: #f4ce14;
  font-weight: 700;
}
.contact-info-container p {
  padding-bottom: 1rem;
  color: #edefee;
}
.social-media-container {
  display: flex;
  flex-direction: column;
  color: #edefee;
  justify-content: center;
  margin-left: 0.5rem;
}

#letsConnectTitle {
  margin-bottom: 0.5rem;
  color: #f4ce14;
  font-family: "Karla";
  font-weight: 700;
}

.social-media-links-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}
#instagramLink img,
#facebookLink img,
#twitterLink img {
  width: 70%;
}

#instagramLink img:hover,
#facebookLink img:hover,
#twitterLink img:hover {
  background-color: #f4ce14;
  padding: 0.25rem;
  border-radius: 16px;
}

/* Extra-Extra small devices (phones,480px and down)
@media only screen and (max-width: 480px) {
}
Extra small devices (phones, 480px and up)
@media only screen and (min-width: 480px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5%;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .footer-logo {
    height: 90%;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding-bottom: 2rem;
    margin-right: 4rem;
  }
  .contact-and-social-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-right: 14rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.25%;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .footer-logo {
    height: 90%;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding-bottom: 2rem;
    margin-right: 4rem;
  }
  .contact-and-social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15%;
    margin-right: 12rem;
  }

  .social-media-container {
    display: flex;
    flex-direction: column;
    color: #edefee;
    justify-content: center;
    flex-grow: 2;
  }
  #letsConnectTitle {
    white-space: nowrap;
  }
  .social-media-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12%;
  }
  #instagramLink img,
  #facebookLink img,
  #twitterLink img {
    width: 120%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
