/* Initial layout/sizes based on 480px wide screen. */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8%;
  background-color: #495e57;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.footer-container .footer-logo {
  height: 80%;
  margin-left: 4rem;
}

.footer-container .footer-logo-nav:hover {
  filter: brightness(115%);
  border-radius: 16px;
}

.footer-container .footer-nav-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding-bottom: 2rem;
}

.footer-container .footer-nav-container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5rem;
  list-style: none;
  gap: 20px;
}
.footer-container .footer-nav-container a {
  text-decoration: none;
  color: #edefee;
  font-family: "Karla";
  font-weight: 600;
}

.footer-container .footer-nav-container a:hover {
  color: #f4ce14;
}


.footer-container .contact-and-social-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-right: 3rem;
}

.footer-container .contact-info-container {
  display: flex;
  flex-direction: column;
  font-family: "Karla";
  font-weight: 600;
  margin-left: 1.5rem;
  padding-bottom: 0.25rem;
}

.footer-container .contact-info-container #contactTitle {
  padding-bottom: 0.75rem;
  color: #f4ce14;
  font-weight: 700;
}

.footer-container .contact-info-container p {
  padding-bottom: 1rem;
  color: #edefee;
}

.footer-container .social-media-container {
  display: flex;
  flex-direction: column;
  color: #edefee;
  justify-content: center;
  margin-left: 0.5rem;
  padding-bottom: 4rem;

}

.footer-container #letsConnectTitle {
  margin-bottom: 0.5rem;
  color: #f4ce14;
  font-family: "Karla";
  font-weight: 700;
}

.footer-container .social-media-links-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 2%;
}
.footer-container #instagramLink img,
.footer-container #facebookLink img,
.footer-container #twitterLink img {
  width: 70%;
}

.footer-container #instagramLink img:hover,
.footer-container #facebookLink img:hover,
.footer-container #twitterLink img:hover {
  background-color: #f4ce14;
  padding: 0.25rem;
  border-radius: 16px;
}
.footer-container .copyright {
  font-family: karla;
  color:#edefee;
  font-size: 16px;
  font-weight: 500;
  margin-top: 275px;
  margin-left: -225px;
  white-space: nowrap;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .footer-container .footer-logo {
    height: 90%;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-container .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding-bottom: 2rem;
    margin-right: 4rem;
  }
  .footer-container .contact-and-social-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-right: 12rem;
  }
  .footer-container .copyright {
    font-family: karla;
    color:#edefee;
    font-weight: 500;
    margin-top: 250px;
    margin-left: -350px;
    white-space: nowrap;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.25%;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1.5rem;
    margin-right: -4rem;
  }
  .footer-container .footer-logo-nav .footer-logo {
    height: 150px;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-container .footer-nav-container ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
    margin-right: 0rem;
    gap: 16px;
  }
  .footer-container .footer-nav-item {
    padding-bottom: 1.5rem;
  }

  .footer-container .contact-and-social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15%;
    margin-right: 14rem;
  }

  .footer-container .social-media-container {
    display: flex;
    flex-direction: column;
    color: #edefee;
    justify-content: center;
    flex-grow: 2;
  }
  .footer-container #letsConnectTitle {
    white-space: nowrap;
  }
  .footer-container .social-media-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12%;
  }
  .footer-container #instagramLink img,
  .footer-container #facebookLink img,
  .footer-container #twitterLink img {
    width: 120%;
  }
  .footer-container .copyright {
    font-family: karla;
    color:#edefee;
    font-weight: 500;
    margin-top: 215px;
    margin-left: -300px;
    white-space: nowrap;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.25%;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1.5rem;
    margin-right: 3rem;
  }
  .footer-container .footer-logo {
    height: 90%;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-container .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .footer-container  .footer-nav-container ul {
    gap: 8px;
  }

  .footer-container .contact-and-social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10%;
    margin-top: 2rem;
  }

  .footer-container .contact-info-container {
    margin-left: 3rem;
  }
  .footer-container #contactTitle {
    font-size: 20px;
  }

  .footer-container .contact-info-container p {
    font-size: 18px;
  }
  .footer-container .social-media-container {
    display: flex;
    flex-direction: column;
    color: #edefee;
    justify-content: center;
    flex-grow: 2;
    margin-left: 4rem;
  }
  .footer-container #letsConnectTitle {
    white-space: nowrap;
    font-size: 20px;
  }
  .footer-container .social-media-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
  }
  .footer-container #instagramLink img,
  .footer-container #facebookLink img,
  .footer-container #twitterLink img {
    width: 120%;
  }
  .footer-container  .copyright {
    font-family: karla;
    color:#edefee;
    font-weight: 500;
    margin-top: 200px;
    margin-left: -335px;
    white-space: nowrap;
  }
}

/* Extra Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 4%; */
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1.5rem;
  }
  .footer-container .footer-logo {
    height: 90%;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  .footer-container .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 1rem;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .footer-container .footer-nav-container ul {
    gap: 8px;
  }

  .footer-container .contact-and-social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10%;
    margin-top: 2rem;
  }

  .footer-container  .contact-info-container {
    margin-left: 3rem;
  }
  .footer-container #contactTitle {
    font-size: 20px;
  }

  .footer-container .contact-info-container p {
    font-size: 18px;
  }
  .footer-container .social-media-container {
    display: flex;
    flex-direction: column;
    color: #edefee;
    justify-content: center;
    flex-grow: 2;
    margin-left: rem;
  }
  .footer-container #letsConnectTitle {
    white-space: nowrap;
    font-size: 20px;
  }
  .footer-container .social-media-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
  }
  .footer-container #instagramLink img,
  .footer-container #facebookLink img,
  .footer-container #twitterLink img {
    width: 120%;
  }

  .footer-container .copyright {
    font-family: karla;
    color:#edefee;
    font-weight: 500;
    margin-top: 200px;
    margin-left: -150px;
    white-space: nowrap;
  }
}

/* Extra Extra large devices (large desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    background-color: #495e57;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    padding-top: 1.5rem;
    margin-left:0px;
  }
  .footer-container .footer-logo {
    height: 90%;
    margin-top: 2rem;
    margin-right: rem;
    margin-left: 4rem;
  }
  .footer-container .footer-nav-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 8rem;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .footer-container .footer-nav-container ul {
    gap: 8px;
  }

  .footer-container .contact-and-social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 52%;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .footer-container .contact-info-container {
    margin-left: 3rem;
  }

  .footer-container #contactTitle {
    font-size: 20px;
  }

 .footer-container .contact-info-container p {
    font-size: 18px;
  }
  .footer-container .social-media-container {
    display: flex;
    flex-direction: column;
    color: #edefee;
    justify-content: center;
    flex-grow: 2;
    margin-left: 4rem;
  }
  .footer-container #letsConnectTitle {
    white-space: nowrap;
    font-size: 20px;
  }
  .footer-container .social-media-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
  }
  .footer-container  #instagramLink img,
  .footer-container #facebookLink img,
  .footer-container #twitterLink img {
    width: 120%;
  }

  .copyright {
    font-family: karla;
    color:#edefee;
    font-weight: 500;
    margin-top: 200px;
    margin-right: 75px;
  }
}