.header-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  gap: 30%;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  flex: 1;
  z-index: 999;
}
.logo-container .logo {
  width: 400px;
  margin-left: 2rem;
  align-self: center;
  flex: 1;
}
.nav-container {
  display: flex;
  margin-top: 0.5rem;
  flex: 2;
}
.basket {
  width: 50px;
  margin-bottom: 35%;
  margin-left: 4rem;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
  align-items: center;
}
.nav-container ul li:nth-child(5) a {
  white-space: nowrap;
}
.nav-container ul li:nth-child(7) a img {
  margin: 0;
}
.links-container .link a {
  text-decoration: none;
  font-family: "Karla";
  font-weight: 600;
  font-size: 24px;
  color: #495e57;
}

.header-container .logo-container .logo:hover {
  filter: brightness(115%);
}

.links-container a:hover {
  filter: brightness(175%);
}

.toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 4.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 28px;
}

.toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: #495e57;
  border-radius: 10px;
}

.toggle-button:hover {
  filter: brightness(175%);
}

/* Extra Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  .header-container {
    gap: 4%;
    padding-top: 2.25rem;

  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
    justify-content: flex-end;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 0.5rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    align-items: center;
   
  }

  .links-container .link a {
    font-size: 18px;
  }

  .toggle-button {
    display: flex;
   margin-right: -.5rem;
  }

  .links-container.hidden {
    display: none;
  }

  .links-container:not(.hidden) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-right: 2rem;
  }

}

/* Extra Extra small devices (phones, 480px and down) */
@media only screen and (min-width: 480px) {
  .header-container {
    gap: 4%;
    padding-top: 2.25rem;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
    justify-content: flex-end;
  }

  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 0.5rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    align-items: center;
  }

  .toggle-button {
    display: flex;
  }

  .links-container.hidden {
    display: none;
  }

  .links-container:not(.hidden) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .links-container ul {
    flex-direction: column;
    justify-content: flex-end;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 0.75rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up  - iPad,iPad Mini = 768) */
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 0.75rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 1.5rem;
    align-self: center;
    flex: 1;
  }

  .nav-container .links-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3rem;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 0.5rem;
  }
  .nav-container  ul {
    display: flex;
    flex-direction: row;
    gap: 5%;
    list-style: none;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  .links-container .link a {
    font-size: 1.15rem;
  }

  .toggle-button {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 1.5rem;
    align-self: center;
    flex: 1;
  }

  .nav-container .links-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3rem;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
  }
  .basket {
    width: 35px;
    margin-bottom: 50%;
    margin-left: 0.5rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 5%;
    list-style: none;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  .links-container .link a {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: none;
  }
}

/* Extra Extra large devices (large desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    /* gap: 4%; */
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 250px;
    margin-left: 5rem;
    align-self: center;
    flex: 1;
  }

  .nav-container .links-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 5rem;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
  }
  .basket {
    width: 35px;
    margin-bottom: 50%;
    margin-left: 1.5rem;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  .links-container .link a {
    font-size: 1.5rem;
  }

  .toggle-button {
    display: none;
  }
}

