/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: .5rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 20px;
    color: #495e57;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: .5rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 20px;
    color: #495e57;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 6%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.25rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 1rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 20px;
    color: #495e57;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 8%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 225px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.5rem;
    flex: 2;
  }
  .basket {
    width: 30px;
    margin-bottom: 50%;
    margin-left: 1rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 28px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 20px;
    color: #495e57;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 250px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.5rem;
    flex: 2;
  }
  .basket {
    width: 32px;
    margin-bottom: 50%;
    margin-left: 1rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 36px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 22px;
    color: #495e57;
  }
}

/* Extra Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2000px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 18%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    width: 400px;
    margin-left: 2rem;
    align-self: center;
    flex: 1;
  }
  .nav-container {
    display: flex;
    margin-top: 0.5rem;
    flex: 2;
  }
  .basket {
    width: 50px;
    margin-bottom: 35%;
    margin-left: 4rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    align-items: center;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 32px;
    color: #495e57;
  }
}

/* Extra Extra Extra large devices (large laptops and desktops, 2500px and up) */
@media only screen and (min-width: 2500px) {
  .header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 20%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    flex: 1;
    z-index: 999;
  }
  .logo-container .logo {
    display: flex;
    flex: 1;
    width: 500px;
    margin-left: 2rem;
    align-self: center;
  }
  .nav-container {
    display: flex;
    margin-top: 0.5rem;
    flex: 2;
  }
  .basket {
    width: 65px;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
    align-items: center;
    width: 100%;
  }
  ul li:nth-child(5) a {
    white-space: nowrap;
  }
  ul li:nth-child(7) a img {
    margin: 0;
  }

  a {
    text-decoration: none;
    font-family: "Karla", normal;
    font-size: 40px;
    color: #495e57;
  }
}

