.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15%;
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  width: 20%;
}


.basket {
  width: 4%;
}
