.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3rem;
  min-width: 25rem;
  max-width: 10rem;
  min-height: 525px;
  background-color: #ededed;
  border-radius: 16px;
  justify-content: flex-start;
  
}

.dishImage {
  width: 25rem;
  height: 15rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.name-and-price {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.dishName {
  font-family: "Karla", Normal;
  font-size: 1.25rem;
  font-weight: 700;
  color: #495e57;
  white-space: nowrap;
  min-width: 8rem;
  max-width: 8rem;
}

.dishPrice {
  font-family: "Karla", Normal;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ee8e61;
}
.dishDescription {
  margin-left: 1.5rem;
  margin-right: 1rem;
  min-height: 11rem;
  max-width: 22rem;
  font-family: "Karla", Normal;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1.75rem;
}
.deliveryLink-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.orderDeliveryLink {
  font-family: "Karla", Normal;
  color: #495e57;
  font-weight: 700;
}

.orderDeliveryLink:hover {
  filter: brightness(175%);
}

.orderDeliveryLink:active {
  color: #ee9972;
}
.scooterIcon {
  width: 1.5rem;
}

.scooterIcon:hover {
  background-color: #495e57;
  filter: brightness(175%);
  border-radius: 50%;
}

.scooterIcon:active {
  background-color: #ee9972;
  filter: brightness(175%);
  border-radius: 50%;
}

@media only screen and (min-width: 992px) {
  .menu-card{
    min-width: 17rem;
    max-width: 17rem;
    min-height: 475px;
    max-height: 475px;
  }
  .dishImage {
    width: 17rem;
    height: 12rem;
  }

  .name-and-price {
    gap: 1.5rem;
  }
  .dishName {
    font-size: 1.15rem;
    min-width: 9rem;
    max-width: 9rem;
  }
  
  .dishPrice {
    font-size: 1.15rem;
    font-weight: 700;
  }
  .dishDescription {
    font-size: 1rem;
    line-height: 1.65rem;
    font-weight: 500;
    margin-bottom: -.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-card{
    min-width: 18rem;
    max-width: 18rem;
    min-height: 525px;
    max-height: 525px;
  }
  .dishImage {
    width: 18rem;
    height: 12rem;
    margin-bottom: 1.5rem;
  }
  
  .name-and-price {
    gap: 3rem;
  }
  .dishDescription {
    font-size: 1.15rem;
    line-height: 1.75rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1800px) {
  .menu-card{
    min-width: 24rem;
    max-width: 24rem;
    min-height: 550px;
    max-height: 550px;
  }
  .dishImage {
    width: 24rem;
    min-height: 16rem;
  }
  .name-and-price {
    gap: 6rem;
  }

  .dishDescription {
    font-size: 1.15rem;
    line-height: 1.75rem;
    margin-bottom: 0rem;
  }
}