.nav-container{
  display: flex;

}

ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;

}

ul li:nth-child(5) a {

  white-space: nowrap;
}

a {
  text-decoration: none;
  font-family: "Karla", normal;
  font-size: 28px;
  color: #495E57;

}