/* Initial layout/sizes based on 480px wide screen. */

/**** CONTAINERS FOR GRIDS AND FLEXBOX ****/

/* .selected-container: column 1: selected-reservations-container   column 2: requests-and-edit-container */
.selected-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-bottom: 4rem;


}

.selected-reservations-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-row-gap: 15px;
  align-items: center;
  margin-left: 2rem;
}

.selected-container .selected-reservations-container .requests-and-edit-container {
  display: grid;
  grid-template-rows: 4fr 3fr;
  margin-left: -8rem;
}

/***** ELEMENT RULES *****/

.selected-reservations-container .selected-icon img {
  width: 35px;
  height: 35px;
}

.selected-container h3,
.selected-container p,
.edit-res-btn {
  font-family: "Karla", normal;
  color: #333333;
}

.selected-container h3 {
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 600;
}

.special-requests-title {
  margin-bottom: 0.5rem;
}
.special-requests-text {
  background-color: #edefee;
  max-width: 12rem;
  min-height: 8rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.edit-button {
  margin-top: 3rem;
}
.edit-res-btn {
  background-color: #f4ce14;
  font-weight: 600;
  color: #495e57;
  padding: 6px 50px;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.edit-res-btn:hover {
  background-color: #495e57;
  color: #ffffff;
}

.edit-res-btn:active {
  background-color: #ee9972;
  color: #ffffff;
}


/********** @MEDIA QUERIES FOR VARIOUS SCREEN SIZES **********/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .selected-container {
    grid-template-columns: 3fr 5fr;
    margin-bottom: 4rem;
    margin-left: 2.5rem;
  }
  .edit-button {
    margin-top: 2rem;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .selected-container {
    grid-template-columns: 2fr 3fr;
    margin-bottom: 4rem;
    margin-top: 6rem;
    margin-left: 7.5rem;
  }

  .selected-reservations-container {
    grid-template-columns: 2fr 7fr;
    grid-row-gap: 15px;
    margin-left: 2rem;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .selected-container {
    grid-template-columns: 2fr 3.5fr;
    margin-bottom: 4rem;
    margin-top: 19rem;
    margin-left: 13rem;
  }

  .selected-reservations-container {
    grid-template-columns: 2fr 7fr;
    grid-row-gap: 15px;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}


/* Extra Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .selected-container {
    grid-template-columns: 2fr 3.5fr;
    margin-bottom: 4rem;
    margin-top: 1rem;
    margin-left: 18rem;
  }

  .selected-reservations-container {
    grid-template-columns: 2fr 7fr;
    grid-row-gap: 15px;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

/* Extra-Extra Large devices (large laptops and desktops, 1800px and up) */
@media only screen and (min-width: 1800px){
  .selected-container {
    grid-template-columns: 2fr 3.5fr;
    margin-bottom: 4rem;
    margin-top: 1rem;
    margin-left: 32rem;
  }

  .selected-reservations-container {
    grid-template-columns: 2fr 7fr;
    grid-row-gap: 15px;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
}
