/* Initial layout/sizes based on 480px wide screen. */

.specials-container {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.specials-title-and-menu-button{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 3rem 0 3rem 1.5rem;
}

.specials-title {
  font-family: "Markazi Text", serif;
  font-size: 2.25rem;
  font-weight: 525;
  color: #495e57;
  white-space: nowrap;
}

.specials-title-and-menu-button .btn {
  margin-left: 1.5rem;
  background-color: #f4ce14;
  border-color: #f4ce14;
  color: #495e57;
  font-family: "Karla", normal;
  font-size: 18px;
  font-weight: 610;
  padding: 8px 16px;
  border-radius: 16px;
  border-width: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
.specials-title-and-menu-button .btn:hover {
  background-color: #495e57;
  color: #ffffff !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.specials-title-and-menu-button .btn:active {
  background-color: #EE9972;
  color: #ffffff !important;
}


@media only screen and (min-width: 600px) {
  .menu-card-container {
    margin-right: 4rem;
  }
  .specials-title-and-menu-button {
    margin: 6rem 0 3rem 1.5rem;
    gap: 4rem;
  }

  .specials-title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu-card-container {
    margin-right: 2rem;
  }
  .specials-title-and-menu-button {
    margin: 8rem 0 4rem 2rem;
    gap: 14rem;
  }
  .specials-title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .menu-card-container {
    margin-right: 3.5rem;
  }
  .specials-title-and-menu-button {
    margin: 8rem 0 4rem 4rem;
    gap: 18rem;
  }
  .specials-title {
    font-size: 3rem;
}
}

@media only screen and (min-width: 1200px) {
  .menu-card-container {
    margin-right: 3rem;
    margin-left: 1.75rem;
    margin-bottom: 1rem;
  }

  .specials-title-and-menu-button {
    margin: 10rem 0 4rem 4rem;
    gap: 28rem;
  }
}

  @media only screen and (min-width: 1800px) {
    .specials-title-and-menu-button {
      margin: 12rem 0 8rem 14rem;
      gap: 38rem;
    }

    .specials-title {
      font-size: 3.25rem;
      font-weight: 525;
    }
}
