/* Initial layout/sizes based on 480px wide screen. */
.heading-and-testimonials {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}
.heading-and-testimonials .testimonials-heading {
  font-family: "Markazi Text", serif;
  font-size: 2.75rem;
  color: #edefee;
  margin-bottom: 2rem;
  
}
.heading-and-testimonials .testimonials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #495e57;
}


@media only screen and (min-width: 600px) {

  .heading-and-testimonials {
    padding-top: 2.5rem;
  }
  .testimonials-heading {
    margin-bottom: .5rem;
    margin-left: 13rem;
  }
  .testimonials-container {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 768px) {

  .heading-and-testimonials {
    padding-top: 2.5rem;
    margin-left: 5rem;
  }
  .testimonials-heading {
    margin-bottom: .5rem;
    margin-left: 13rem;
  }
  .testimonials-container {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 992px) {

  .heading-and-testimonials {
    padding-top: 2.5rem;
    margin-left: 3.5rem;
  }
  .testimonials-heading {
    margin-bottom: .5rem;
    margin-left: 22rem;
  }
  .testimonials-container {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 1200px) {

  .heading-and-testimonials {
    padding-top: 4.5rem;
    margin-left: -1.5rem;
  }
  .testimonials-heading {
    margin-bottom: .5rem;
    margin-left: 33rem;
  }
  .testimonials-container {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 1800px) {

  .heading-and-testimonials {
    padding-top: 4rem;
    margin-bottom: 2rem;
    margin-left: -1.5rem;
  }
  .testimonials-heading {
    margin-bottom: .5rem;
    margin-left: 52rem;
  }
  .testimonials-container {
    padding-top: 3rem;
  }

  .testimonial-card-container {
    margin-right: .75rem;
  }
}