*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
@font-face {
  font-family: "Markazi Text";
  src: url("../public/fonts/MarkaziText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Markazi Text";
  src: url("../public/fonts/MarkaziText-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Markazi Text";
  src: url("../public/fonts/MarkaziText-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Markazi Text";
  src: url("../public/fonts/MarkaziText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight:700;
}


@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Karla Bold";
  src: url("../public/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}


/* h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: medium;
  margin-bottom: -1rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Karla", normal;
  font-size: 32px;
  font-weight:normal;
  line-height: 1.5;
}

h4 {
  font-family: "Karla", normal;
  font-size: 1.25rem;
  font-weight:bolder;
  line-height: 1.5;
}
h5 {
  font-family: "Karla", bold;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-family: "Karla";
  font-weight: medium;
  font-size: 1rem;
  line-height: 1;
}
 */
