*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Markazi Text";
  src: url("../public/fonts/MarkaziText-Regular.ttf") format("truetype");
  src: url("../public/fonts/MarkaziText-Medium.ttf") format("truetype");
  src: url("../public/fonts/MarkaziText-SemiBold.ttf") format("truetype");
  src: url("../public/fonts/MarkaziText-Bold.ttf") format("truetype");
  font-style: serif;
}

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Karla", medium;
  src: url("../public/fonts/Karla-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Karla", 500;
  font-weight: 500;
  src: url("../public/fonts/Karla-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Karla", 700;
  font-weight: 700;
  src: url("../public/fonts/Karla-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Karla", bolder;
  font-weight: bolder;
  src: url("../public/fonts/Karla-ExtraBold.ttf") format("truetype");
  
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: medium;
  margin-bottom: -1rem;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Karla", normal;
  font-size: 32px;
  font-weight:normal;
  line-height: 1.5;
}

h4 {
  font-family: "Karla", normal;
  font-size: 1.25rem;
  font-weight:bolder;
  line-height: 1.5;
}
h5 {
  font-family: "Karla", bold;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-family: "Karla";
  font-weight: medium;
  font-size: 1rem;
  line-height: 1;
}

